*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    line-height: 150%;

    transition: 0.2s;
}


h1  {
    font-size: 2rem;
    font-weight: 500;
}
h2  {
    font-size: 1.5rem;
    font-weight: 500;
}
span    {
    font-size: 1.25rem;
    font-weight: 400;
}


.star-svg   {
    width: 25px;
    height: 25px;
}
.circle-svg   {
    width: 25px;
    height: 25px;
}