header  {
    width: 100%;

    padding: 1.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .star-svg    {
    width: 50px;
    height: 50px;
}
header .caugth-button    {
    width: 50px;
    height: 50px;

    border: solid 2px black;
}

#header__search-bar {
    width: 300px;
    height: 50px;

    padding: 5px;
    border: solid 1px black;
    border-radius: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header__search-bar input {
    width: 70%;
    height: 100%;

    border: none;
    outline: none;

    font-size: 1rem;

    justify-self: center;
}



main    {
    padding: 0.25rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}